B.*
!.editorconfig
!.gitignore
*.db
*.iml
*.ipr
*.iws
.idea
*.log
*.orig
.slcache/
*/cobertura.ser
*/web-app/WEB-INF/classes/
*~
CodeNarcReport.html
\[:\]/*
activemq-data/*
ast-build/*
build/*
cobertura.ser
documentation/*
html/*
latex/*
output/*
grails-app/views/templates/_version.gsp
grailswork/*
jummp-plugins/*/*.iml
jummp-plugins/*/build.number
jummp-plugins/*/ast-build
jummp-plugins/*/grails-app/i18n
jummp-plugins/*/plugin.xml
jummp-plugins/*/target-eclipse/*
jummp-plugins/*/target/*
jummp-plugins/*/web-app/WEB-INF/classes/
jummp-plugins/jummp-plugin-git/out/*
jummp-web-application/ast-build/*
jummp-web-application/grails-app/views/templates/_version.gsp
jummp-web-application/lib/jummp-ast.jar
jummp-web-application/log/*
jummp-web-application/logs/*
jummp-web-application/target-eclipse/*
lib/jummp-ast.jar
log/*
logs/*
out/*
pluginlibs/grails-plugin-jummp-plugin-*.jar
pluginlibs/jummp-ast-0.1.jar
src/groovy/weceem-jummp-default-space.*
target-eclipse/*
target/*
web-app/js/i18n/messages.properties
web-app/WEB-INF/classes/
## elastic search data folder -- used by weceem, not by us directly.
data

## help/documentation
Doxyfile

## patches
*.patch
.project
build.gradle
gradlew
gradlew.bat
gradle
gradle/
.gradle/
.settings/
tmp/
## For k8s deployment
## The folder contains yaml files
k8s/
## grails wrapper contains http proxy host and port
wrapper/grails-wrapper.properties
## utility scripts
*.sh
!backuplog.sh
!docker-build.sh
lib/classpath.index
.envrc
