.legend-green {
    color: #01a252;
}

.legend-green-block {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #01a252;
}

.pull-element-left {
    float: left;
}

.pull_element_right {
    float: right;
}
