#nameSearch {

}

#teamSearch {

}

.formElement {

}

.formElements {

}

.containUI {

}

#AddButton, #TeamAddButton {

}

#collabCreate {

}

.hideRightBorder {
	border-right: none !important;
}

.hideLeftBorder {
	border-left:none !important;
}

#currentCollabs {

}

.tableEL {

}

.bold {
	font-weight: bold;
}

#collabUI {

}

#ui {

}
