#mainframe {
	position: relative;
}
#helpbutton {
    height: 40px;
    position: fixed;
    right: 6%;
    top: 95%;
}
#helpPanel {
	height:600px;
}
#helpbutton a {
	display: block;
	background: gray;
	height: 40px;
	width: 90px;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: solid 1px #333;
	border-left: solid 1px #333;
	border-right: solid 1px #fff;
}

#helptoolbar {
	 padding: 4px;
	 display: inline-block;
	 width:100%;
	 cursor: move !important;
 }
 /* support: IE7 */
*+html #helptoolbar {
	 display: inline;
 }

#helpbutton a:hover {
	background: #06c;
}
#helpFrame {
   width: 99%;
   height: 100%;
   overflow: scroll;
   border:2px ridge gray !important;
}

.ui-resizable-helper { border: 1px dotted gray; }
iframe {
    border: 0px solid #ffffff;
}
.ui-widget a:link {color: #000000; text-decoration: underline; !important }
.ui-widget a:active {color: #0000ff; text-decoration: underline; !important}
.ui-widget a:visited {color: #008000; text-decoration: underline; !important}
.ui-widget a:hover {color: #ff0000; text-decoration: none; !important}

#btnEditCurationNotes a:link {
    color: #ffffff;
    text-decoration: none;
}

#btnEditCurationNotes a:visited {
    color: #ffffff;
    text-decoration: none;
}

#modelToolbar {
	box-sizing: border-box;
	border-right-width-value: 1px;
	border-right-style-value: solid;
	border-right-color-value: #cccccc;
	background-color: #f5f5f5;
	position: fixed;
	top: 20em;
	bottom: auto;
    z-index: 20;
}

#toolbarList {
	padding:0;
	margin:0;
	text-align: center;
}
#toolbarList li {
    margin-top:0;
	margin-bottom:0;
	list-style-type:none;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    text-align: center;
}
.collapsibleContainerContent {
	border-right: thick double #ff0000;
	height: 100%
}

.unseenNotification {
	font-weight:bold;
}
.selectedNotification {
	background-color:#F5EBCC !important;
}

#topBar {
    border-radius:6px;
    padding-bottom: 20px;
    float: top;
}
#tablewrapper {
    clear: both;
}

.submit {
    background-color: #5CAD85;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    margin-top:3px;
    margin-right:8px;
    color: #fff;
    font-family: 'Verdana';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    border:none;
    float: right;
}

.submit:hover {
    border: none;
    background:#339966;
    box-shadow: 0px 0px 1px #777;

}

.downloadFile {
    background-color: #5CAD85;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: white;
    font-family: 'Verdana';
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border:none;
}
.downloadFile:hover {
    border: none;
    background:#339966;
    box-shadow: 0px 0px 1px #777;

}

#resizable {
    height: 100%; padding: 0.5em; border: none; margin-left:30px;
    float:left;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    float: right;
    cursor: pointer;
    border-top: 12px solid gray;
}

.ui-menu {
    width: 150px;
}

#modeltoolbar {
    padding: 4px;
    display: inline-block;
}
/* support: IE7 */
*+html #modeltoolbar {
    display: inline;
}
