{
  "swagger": "2.0",
  "info": {
    "description": "<p>BioModels is a repository of mathematical models of biological and biomedical systems. It hosts a vast selection of existing literature-based physiologically and pharmaceutically relevant mechanistic models in standard formats. Our mission is to provide the systems modelling community with reproducible, high-quality, <a href='http://creativecommons.org/publicdomain/zero/1.0/' target='_blank'>freely-accessible</a> models published in the scientific literature. More information about BioModels can be found in the <a href='../faq'>FAQ</a>.</p> <h3>Notes about this API</h3> <h4 id='contentNegotiation'>Content negotiation</h4> <p>Both XML and JSON MIME types are supported. Clients have two ways of specifying the content type: <ul> <li>an explicit format request parameter (e.g. format=xml)</li> <li>the Accept request header (e.g. Accept: application/xml).</li> </ul> If both are specified, the format parameter has priority. </p> <h4>BioModels content</h4> <p>Model information is retrieved based on the a submission identifier, such as MODEL1707110000, or a BioModels identifier, like BIOMD0000000123. BioModels content is versioned and model revision numbers are assigned incrementally starting from 1. If a particular model revision is public, it can be accessed by appending a dot ('.') and its number to the model identifier (e.g. BIOMD0000000123.1). </p> <p>The <a href='https://www.ebi.ac.uk/biomodels-main/path2models' target='_blank' title='find out more about Path2Models -- link opens in a new window'>Path2Models</a> branch of models is not available through this API at this time.</p> ",
    "version": "beta2",
    "title": "BioModels",
    "termsOfService": "https://www.ebi.ac.uk/data-protection/privacy-notice/embl-ebi-public-website",
    "contact": {
      "email": "biomodels-developers@lists.sourceforge.net"
    },
    "license": {
      "name": "AGPL v3",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    }
  },
  "host": "wwwdev.ebi.ac.uk",
  "basePath": "/biomodels",
  "tags": [
    {
      "name": "Model-related operations",
      "description": "Retrieve information about a particular submission."
    },
    {
      "name": "Search models",
      "description": "Find models of interest"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/{modelId}": {
      "get": {
        "tags": [
          "Model-related operations"
        ],
        "summary": "Fetch information about a given model at a particular revision.",
        "parameters": [
          {
            "in": "path",
            "name": "modelId",
            "description": "The identifier of a public model in BioModels.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "format",
            "description": "The response format, one of <b>xml</b>, <b>json</b> or <b>html</b>",
            "type": "string",
            "required": false
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Invalid model id"
          },
          "415": {
            "description": "Unsupported media type. Please see the <a href='#contentNegotiation'>content negotiation</a> section. "
          }
        }
      }
    },
    "/model/files/{modelId}": {
      "get": {
        "tags": [
          "Model-related operations"
        ],
        "summary": "Extract metadata information of model files of a particular model",
        "parameters": [
          {
            "in": "path",
            "name": "modelId",
            "required": true,
            "type": "string",
            "description": "The identifier of the model for which to retrieve the files."
          },
          {
            "in": "query",
            "name": "format",
            "type": "string",
            "required": false,
            "description": "The format that the response should return"
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Invalid model id supplied"
          },
          "415": {
            "description": "Unsupported media type. Please see the <a href='#contentNegotiation'>content negotiation</a> section."
          }
        }
      }
    },
    "/model/download/{modelId}": {
      "get": {
        "tags": [
          "Model-related operations"
        ],
        "summary": "Download a particular file associated with a given model or all its files as a COMBINE archive. The Content disposition and MIME type response headers contain the file name and type.",
        "parameters": [
          {
            "in": "path",
            "name": "modelId",
            "required": true,
            "description": "The model identifier that the file in question is associated with",
            "type": "string"
          },
          {
            "in": "query",
            "name": "filename",
            "type": "string",
            "description": "The name of the file that needs to be downloaded. If not provided, all model files are returned as a <a href='https://co.mbine.org/standards/omex' target='_blank'>COMBINE archive</a>. If the file name is set, then the file contents will be served.",
            "required": false
          }
        ],
        "produces": [
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "File Not Found"
          },
          "404": {
            "description": "Invalid Model ID Supplied"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search models"
        ],
        "summary": "Download search results",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "required": true,
            "type": "string",
            "description": "Search query. Please note that the colon character in ontology terms must be escaped."
          },
          {
            "in": "query",
            "name": "offset",
            "type": "integer",
            "required": false,
            "description": "The number of items to skip before starting to collect the result set"
          },
          {
            "in": "query",
            "name": "numResults",
            "type": "integer",
            "required": false,
            "description": "The number of items to return"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "required": false,
            "enum": [
                "relevance-desc",
                "first_author-asc",
                "first_author-desc",
                "id-asc",
                "id-desc",
                "name-asc",
                "name-desc",
                "publication_year-asc",
                "publication_year-desc"
            ],
            "description": "Sort criteria"
          },
          {
            "in": "query",
            "name": "format",
            "type": "string",
            "required": false,
            "description": "The format that the response should return"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "404": {
            "description": "Invalid Model Id Supplied"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about BioModels",
    "url": "https://www.ebi.ac.uk/biomodels"
  }
}
